In [1]:
import psycopg2
import pandas as pd

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=AlQuran user=postgres password=admin port=5432")

In [3]:
cur = conn.cursor()

In [4]:
conn.set_session(autocommit=True)

In [5]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=AlQuran user=postgres password=admin port=5432")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

conn.set_session(autocommit=True)

# CREATE TABLE 1

In [6]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS en_rwwad (id int PRIMARY KEY, surah_id int, ayah int, text varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [7]:
data = pd.read_csv(r"C:/Users/Ikmee U-daidee/BigDataEng 22/Quran.Project.csv")
df = pd.DataFrame(data)
try:
    for row in df.itertuples():
        cur.execute("INSERT INTO en_rwwad (id, surah_id, ayah, text) \
                    VALUES (%s,%s,%s,%s)", \
                    (row.id, row.surah_id, row.ayah, row.text))
except psycopg2.Error as e:
        print("Error: Inserting Rows")
        print (e)

Error: Inserting Rows
duplicate key value violates unique constraint "en_rwwad_pkey"
DETAIL:  Key (id)=(1) already exists.

In [8]:
try: 
    cur.execute("SELECT * FROM en_rwwad;")
    col_names = [desc[0] for desc in cur.description]
    print(col_names)
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

rows = cur.fetchall()

# convert list of tuples to pandas dataframe
df = pd.DataFrame(rows, columns=col_names)
df

['id', 'surah_id', 'ayah', 'text']

        id  surah_id  ayah                                      text
0        1         1     1    بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ
1        2         1     2     ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ
2        3         1     3                   ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ
3        4         1     4                   مَٰلِكِ يَوۡمِ ٱلدِّينِ
4        5         1     5  إِيَّاكَ نَعۡبُدُ وَإِيَّاكَ نَسۡتَعِينُ
...    ...       ...   ...                                       ...
6231  6232       114     2                           مَلِكِ ٱلنَّاسِ
6232  6233       114     3                          إِلَٰهِ ٱلنَّاسِ
6233  6234       114     4        مِن شَرِّ ٱلۡوَسۡوَاسِ ٱلۡخَنَّاسِ
6234  6235       114     5   ٱلَّذِي يُوَسۡوِسُ فِي صُدُورِ ٱلنَّاسِ
6235  6236       114     6                مِنَ ٱلۡجِنَّةِ وَٱلنَّاسِ

[6236 rows x 4 columns]

# CREATE TABLE 2

In [9]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS en_rwwad1 (surah_id int PRIMARY KEY, arabic varchar, latin varchar, english varchar, types varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [10]:
data = pd.read_csv(r"C:/Users/Ikmee U-daidee/BigDataEng 22/Quran.surah.types.csv")
df = pd.DataFrame(data)
try:
    for row in df.itertuples():
        cur.execute("INSERT INTO en_rwwad1 (surah_id, arabic, latin, english, types) \
                    VALUES (%s,%s,%s,%s,%s)", \
                    (row.surah_id, row.arabic, row.latin, row.english, row.types))
except psycopg2.Error as e:
        print("Error: Inserting Rows")
        print (e)

Error: Inserting Rows
duplicate key value violates unique constraint "en_rwwad1_pkey"
DETAIL:  Key (surah_id)=(1) already exists.

In [11]:
try: 
    cur.execute("SELECT * FROM en_rwwad1;")
    col_names = [desc[0] for desc in cur.description]
    print(col_names)
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

rows = cur.fetchall()

# convert list of tuples to pandas dataframe
df = pd.DataFrame(rows, columns=col_names)
df

['surah_id', 'arabic', 'latin', 'english', 'types']

     surah_id         arabic        latin              english      types
0           1   سورة الفاتحة    Al-Fatiha          The Opening    Makiyah
1           2    سورة البقرة    Al-Baqara              The Cow  Madaniyah
2           3  سورة آل عمران  Aal-e-Imran  The family of Imran  Madaniyah
3           4    سورة النساء      An-Nisa            The Women  Madaniyah
4           5   سورة المائدة     Al-Maeda     The Table Spread  Madaniyah
..        ...            ...          ...                  ...        ...
109       110     سورة النصر      An-Nasr          The Succour  Madaniyah
110       111     سورة المسد    Al-Masadd            The Flame    Makiyah
111       112   سورة الإخلاص    Al-Ikhlas         Absoluteness    Makiyah
112       113     سورة الفلق     Al-Falaq        The day break    Makiyah
113       114     سورة الناس       An-Nas          The mankind    Makiyah

[114 rows x 5 columns]

# CREATE TABLE 3

In [12]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS en_rwwad2 (id int, en_translate varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [13]:
data = pd.read_csv(r"C:/Users/Ikmee U-daidee/BigDataEng 22/quran.transEN.csv")
df = pd.DataFrame(data)
try:
    for row in df.itertuples():
        cur.execute("INSERT INTO en_rwwad2 (id, en_translate) \
                    VALUES (%s,%s)", \
                    (row.id, row.en_translate))
except psycopg2.Error as e:
        print("Error: Inserting Rows")
        print (e)

In [14]:
try: 
    cur.execute("SELECT * FROM en_rwwad2;")
    col_names = [desc[0] for desc in cur.description]
    print(col_names)
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

rows = cur.fetchall()

# convert list of tuples to pandas dataframe
df = pd.DataFrame(rows, columns=col_names)
df

['id', 'en_translate']

         id                                       en_translate
0         1  In the name of Allah, the Most Compassionate, ...
1         2    All praise be to Allah, the Lord of the worlds,
2         3         the Most Compassionate, the Most Merciful,
3         4                     Master of the Day of Judgment.
4         5  You alone we worship, and You alone we ask for...
...     ...                                                ...
31175  6232                          the Sovereign of mankind,
31176  6233                                the God of mankind,
31177  6234            from the harm of the lurking whisperer,
31178  6235           who whispers into the hearts of mankind,
31179  6236                    from among jinn and mankind.â€

[31180 rows x 2 columns]

# JOIN TABLE

In [15]:
# Execute the query
cur.execute("""SELECT en_rwwad.id,
en_rwwad.surah_id,
en_rwwad1.arabic as Surah_arabic,
en_rwwad1.latin as  Surah_Latin,
en_rwwad1.english,
en_rwwad1.types,
en_rwwad.ayah,
en_rwwad.text  as text,
en_rwwad2.en_translate
FROM en_rwwad1
JOIN en_rwwad ON en_rwwad1.surah_id = en_rwwad.surah_id
JOIN en_rwwad2 ON en_rwwad.id = en_rwwad2.id
""")

# Fetch the results
rows = cur.fetchall()
# Convert to a Pandas dataframe
df = pd.DataFrame(rows, columns=['index','surah_id', 'Surah_arabic', 'Surah_Latin', 'english','types','ayah','text','en_translate'])
# Print the dataframe
df

,index,surah_id,Surah_arabic,Surah_Latin,english,types,ayah,text,en_translate
0,1,1,سورة الفاتحة,Al-Fatiha,The Opening,Makiyah,1,بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ,"In the name of Allah, the Most Compassionate, ..."
1,2,1,سورة الفاتحة,Al-Fatiha,The Opening,Makiyah,2,ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ,"All praise be to Allah, the Lord of the worlds,"
2,3,1,سورة الفاتحة,Al-Fatiha,The Opening,Makiyah,3,ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ,"the Most Compassionate, the Most Merciful,"
3,4,1,سورة الفاتحة,Al-Fatiha,The Opening,Makiyah,4,مَٰلِكِ يَوۡمِ ٱلدِّينِ,Master of the Day of Judgment.
4,5,1,سورة الفاتحة,Al-Fatiha,The Opening,Makiyah,5,إِيَّاكَ نَعۡبُدُ وَإِيَّاكَ نَسۡتَعِينُ,"You alone we worship, and You alone we ask for..."
...,...,...,...,...,...,...,...,...,...
31175,6232,114,سورة الناس,An-Nas,The mankind,Makiyah,2,مَلِكِ ٱلنَّاسِ,"the Sovereign of mankind,"
31176,6233,114,سورة الناس,An-Nas,The mankind,Makiyah,3,إِلَٰهِ ٱلنَّاسِ,"the God of mankind,"
31177,6234,114,سورة الناس,An-Nas,The mankind,Makiyah,4,مِن شَرِّ ٱلۡوَسۡوَاسِ ٱلۡخَنَّاسِ,"from the harm of the lurking whisperer,"
31178,6235,114,سورة الناس,An-Nas,The mankind,Makiyah,5,ٱلَّذِي يُوَسۡوِسُ فِي صُدُورِ ٱلنَّاسِ,"who whispers into the hearts of mankind,"
31179,6236,114,سورة الناس,An-Nas,The mankind,Makiyah,6,مِنَ ٱلۡجِنَّةِ وَٱلنَّاسِ,from among jinn and mankind.â€

# FUN FACT ABOUT THE HOLY QURAN

### Surah that have 'wisdom'  - حِكۡمَةَ -

In [16]:
df1 = df[df['en_translate'].str.contains('wisdom')]
df1

,index,surah_id,Surah_arabic,Surah_Latin,english,types,ayah,text,en_translate
137,136,2,سورة البقرة,Al-Baqara,The Cow,Madaniyah,129,رَبَّنَا وَٱبۡعَثۡ فِيهِمۡ رَسُولٗا مِّنۡهُمۡ ...,"Our Lord, send among them a messenger to recit..."
265,258,2,سورة البقرة,Al-Baqara,The Cow,Madaniyah,251,فَهَزَمُوهُم بِإِذۡنِ ٱللَّهِ وَقَتَلَ دَاوُۥد...,"Thus they defeated them by Allahâ€™s grace, an..."
283,276,2,سورة البقرة,Al-Baqara,The Cow,Madaniyah,269,يُؤۡتِي ٱلۡحِكۡمَةَ مَن يَشَآءُۚ وَمَن يُؤۡتَ...,He gives wisdom to whom He wills; and whoever ...
349,341,3,سورة آل عمران,Aal-e-Imran,The family of Imran,Madaniyah,48,وَيُعَلِّمُهُ ٱلۡكِتَٰبَ وَٱلۡحِكۡمَةَ وَٱلتَّ...,"And He will teach him writing and wisdom, the ..."
379,372,3,سورة آل عمران,Aal-e-Imran,The family of Imran,Madaniyah,79,مَا كَانَ لِبَشَرٍ أَن يُؤۡتِيَهُ ٱللَّهُ ٱلۡك...,It is not for a human being whom Allah has giv...
...,...,...,...,...,...,...,...,...,...
29180,4418,44,سورة الدخان,Ad-Dukhan,The Smoke,Makiyah,4,فِيهَا يُفۡرَقُ كُلُّ أَمۡرٍ حَكِيمٍ,"On that night, every matter of wisdom is deter..."
29279,4329,43,سورة الزخرف,Az-Zukhruf,Ornaments of Gold,Makiyah,4,وَإِنَّهُۥ فِيٓ أُمِّ ٱلۡكِتَٰبِ لَدَيۡنَا لَع...,and it is in the Master Book [Preserved Tablet...
29339,4388,43,سورة الزخرف,Az-Zukhruf,Ornaments of Gold,Makiyah,63,وَلَمَّا جَآءَ عِيسَىٰ بِٱلۡبَيِّنَٰتِ قَالَ ...,"When Jesus came with clear signs, he said, â€œ..."
29437,4489,45,سورة الجاثية,Al-Jathiya,Crouching,Makiyah,16,وَلَقَدۡ ءَاتَيۡنَا بَنِيٓ إِسۡرَـٰٓءِيلَ ٱلۡك...,"Indeed, We gave the Children of Israel the Scr..."
29802,4851,54,سورة القمر,Al-Qamar,The moon,Makiyah,5,حِكۡمَةُۢ بَٰلِغَةٞۖ فَمَا تُغۡنِ ٱلنُّذُرُ,"which contain extensive wisdom, but the warnin..."

### Total number of surah in Quran

In [17]:
# Execute the query
cur.execute("""SELECT COUNT(DISTINCT surah_id) FROM en_rwwad""")

# Fetch the result
num_surahs = cur.fetchone()[0]

# Print the result
print("Total number of surahs in the Quran: ", num_surahs)

Total number of surahs in the Quran:  114

In [18]:
# Execute the query
cur.execute("SELECT surah_id, arabic FROM en_rwwad1")

# Fetch the results and print them
for row in cur.fetchall():
    print(f"Surah {row[0]}: {row[1]}")

Surah 1: سورة الفاتحة
Surah 2: سورة البقرة
Surah 3: سورة آل عمران
Surah 4: سورة النساء
Surah 5: سورة المائدة
Surah 6: سورة الأنعام
Surah 7: سورة الأعراف
Surah 8: سورة الأنفال
Surah 9: سورة التوبة
Surah 10: سورة يونس
Surah 11: سورة هود
Surah 12: سورة يوسف
Surah 13: سورة الرعد
Surah 14: سورة إبراهيم
Surah 15: سورة الحجر
Surah 16: سورة النحل
Surah 17: سورة الإسراء
Surah 18: سورة الكهف
Surah 19: سورة مريم
Surah 20: سورة طه
Surah 21: سورة الأنبياء
Surah 22: سورة الحج
Surah 23: سورة المؤمنون
Surah 24: سورة النور
Surah 25: سورة الفرقان
Surah 26: سورة الشعراء
Surah 27: سورة النمل
Surah 28: سورة القصص
Surah 29: سورة العنكبوت
Surah 30: سورة الروم
Surah 31: سورة لقمان
Surah 32: سورة السجدة
Surah 33: سورة الأحزاب
Surah 34: سورة سبأ
Surah 35: سورة فاطر
Surah 36: سورة يس
Surah 37: سورة الصافات
Surah 38: سورة ص
Surah 39: سورة الزمر
Surah 40: سورة غافر
Surah 41: سورة فصلت
Surah 42: سورة الشورى
Surah 43: سورة الزخرف
Surah 44: سورة الدخان
Surah 45: سورة الجاثية
Surah 46: سورة الأحقاف
Surah 47: سورة محمد
Surah 48: سورة الفتح
Surah 49: سورة الحجرات
Surah 50: سورة ق
Surah 51: سورة الذاريات
Surah 52: سورة الطور
Surah 53: سورة النجم
Surah 54: سورة القمر
Surah 55: سورة الرحمن
Surah 56: سورة الواقعة
Surah 57: سورة الحديد
Surah 58: سورة المجادلة
Surah 59: سورة الحشر
Surah 60: سورة الممتحنة
Surah 61: سورة الصف
Surah 62: سورة الجمعة
Surah 63: سورة المنافقون
Surah 64: سورة التغابن
Surah 65: سورة الطلاق
Surah 66: سورة التحريم
Surah 67: سورة الملك
Surah 68: سورة القلم
Surah 69: سورة الحاقة
Surah 70: سورة المعارج
Surah 71: سورة نوح
Surah 72: سورة الجن
Surah 73: سورة المزمل
Surah 74: سورة المدثر
Surah 75: سورة القيامة
Surah 76: سورة الإنسان
Surah 77: سورة المرسلات
Surah 78: سورة النبأ
Surah 79: سورة النازعات
Surah 80: سورة عبس
Surah 81: سورة التكوير
Surah 82: سورة الإنفطار
Surah 83: سورة المطففين
Surah 84: سورة الانشقاق
Surah 85: سورة البروج
Surah 86: سورة الطارق
Surah 87: سورة الأعلى
Surah 88: سورة الغاشية
Surah 89: سورة الفجر
Surah 90: سورة البلد
Surah 91: سورة الشمس
Surah 92: سورة الليل
Surah 93: سورة الضحى
Surah 94: سورة الشرح
Surah 95: سورة التين
Surah 96: سورة العلق
Surah 97: سورة القدر
Surah 98: سورة البينة
Surah 99: سورة الزلزلة
Surah 100: سورة العاديات
Surah 101: سورة القارعة
Surah 102: سورة التكاثر
Surah 103: سورة العصر
Surah 104: سورة الهمزة
Surah 105: سورة الفيل
Surah 106: سورة قريش
Surah 107: سورة الماعون
Surah 108: سورة الكوثر
Surah 109: سورة الكافرون
Surah 110: سورة النصر
Surah 111: سورة المسد
Surah 112: سورة الإخلاص
Surah 113: سورة الفلق
Surah 114: سورة الناس

### Total number of ayahs in Quran

In [19]:
import sqlite3

# Execute the query
cur.execute("SELECT COUNT(*) FROM en_rwwad")

# Fetch the result
result = cur.fetchone()

# Print the result
print("Total number of ayahs in the Quran:", result[0])

Total number of ayahs in the Quran: 6236

### Total number of words in Quran

In [20]:
# Execute the query
cur.execute("""SELECT text FROM en_rwwad""")
# Fetch the results
rows = cur.fetchall()
# Count the total number of words in the Quran
total_words = sum(len(row[0].split()) for row in rows)
# Print the total number of words
print("The total number of words in the Quran is:", total_words)

The total number of words in the Quran is: 77429

### Total number of letters in Quran

In [21]:
# Load the Quran dataset
quran_df = pd.read_csv("C:/Users/Ikmee U-daidee/BigDataEng 22/Surah.csv")

# Initialize the variable to keep track of the total number of letters
total_letters = 0

# Loop through each row in the dataset
for index, row in quran_df.iterrows():

    # Get the text of the ayah
    ayah_text = row['text']

    # Count the number of letters in the ayah
    num_letters = len(ayah_text.replace(' ', '').replace('\u06dd', '').replace('\u06e1', '').replace('\u06e2', '').replace('\u06e3', '').replace('\u06dd', '').replace('\u06de', ''))

    # Add the number of letters in the ayah to the total
    total_letters += num_letters

# Print the total number of letters in the Quran
print("The total number of letters in the Quran is:", total_letters)

The total number of letters in the Quran is: 591188

### Total number of surah Makki

In [22]:
# Execute the query
cur.execute("""SELECT COUNT(DISTINCT surah_id)
               FROM en_rwwad1
               WHERE types='Makiyah'""")

# Fetch the result
num_surah_makiyah = cur.fetchone()[0]

# Print the result
print("Number of Surahs in Makiyah: ", num_surah_makiyah)

Number of Surahs in Makiyah:  86

### Total number of surah Madani

In [23]:
# Execute the query
cur.execute("""SELECT COUNT(DISTINCT surah_id)
               FROM en_rwwad1
               WHERE types='Madaniyah'""")

# Fetch the result
num_surah_madaniyah = cur.fetchone()[0]

# Print the result
print("Number of Surahs in Madaniyah: ", num_surah_madaniyah)

Number of Surahs in Madaniyah:  28

### Surah with the smallest and  largest number of ayahs

#### Surah with the smallest

In [24]:
# Surah with the smallest number of ayahs
cur.execute("""SELECT arabic, COUNT(*) as num_ayahs
               FROM en_rwwad
               JOIN en_rwwad1 ON en_rwwad.surah_id = en_rwwad1.surah_id
               GROUP BY arabic
               ORDER BY num_ayahs ASC
               LIMIT 1""")
smallest_surah = cur.fetchone()
print("Surah with the smallest number of ayahs: ", smallest_surah[0])
print("Number of ayahs in surah: ", smallest_surah[1])

Surah with the smallest number of ayahs:  سورة الكوثر
Number of ayahs in surah:  3

#### Surah with the largest

In [25]:
# Surah with the largest number of ayahs
cur.execute("""SELECT arabic, COUNT(*) as num_ayahs
               FROM en_rwwad
               JOIN en_rwwad1 ON en_rwwad.surah_id = en_rwwad1.surah_id
               GROUP BY arabic
               ORDER BY num_ayahs DESC
               LIMIT 1""")
largest_surah = cur.fetchone()
print("Surah with the largest number of ayahs: ", largest_surah[0])
print("Number of ayahs in surah: ", largest_surah[1])

Surah with the largest number of ayahs:  سورة البقرة
Number of ayahs in surah:  286

#### Ayahs with the largest

In [26]:
# Load the Quran dataset
quran_df = pd.read_csv("C:/Users/Ikmee U-daidee/BigDataEng 22/Surah.csv")

# Initialize variables to store the longest ayah, the number of words in the longest ayah, the name of the Surah, and the ayah number
longest_ayah = ""
longest_ayah_word_count = 0
surah_name = ""
ayah_number = ""

# Loop through each row in the dataset
for index, row in quran_df.iterrows():
    
    # Get the text of the ayah
    ayah_text = row['text']
    
    # Count the number of words in the ayah
    word_count = len(ayah_text.split())
    
    # Check if the current ayah is longer than the previous longest ayah
    if word_count > longest_ayah_word_count:
        
        # Update the variables with the new longest ayah
        longest_ayah = ayah_text
        longest_ayah_word_count = word_count
        surah_name = row['surah']
        ayah_number = row['ayah']

# Print the result
print("The longest ayah in the Quran is:\n\n", longest_ayah)
print("\nIt is in Surah", surah_name, "and is ayah number", ayah_number)
print("\nThe ayah has", longest_ayah_word_count, "words.")

The longest ayah in the Quran is:

 يَـٰٓأَيُّهَا ٱلَّذِينَ ءَامَنُوٓاْ إِذَا تَدَايَنتُم بِدَيۡنٍ إِلَىٰٓ أَجَلٖ مُّسَمّٗى فَٱكۡتُبُوهُۚ وَلۡيَكۡتُب بَّيۡنَكُمۡ كَاتِبُۢ بِٱلۡعَدۡلِۚ وَلَا يَأۡبَ كَاتِبٌ أَن يَكۡتُبَ كَمَا عَلَّمَهُ ٱللَّهُۚ فَلۡيَكۡتُبۡ وَلۡيُمۡلِلِ ٱلَّذِي عَلَيۡهِ ٱلۡحَقُّ وَلۡيَتَّقِ ٱللَّهَ رَبَّهُۥ وَلَا يَبۡخَسۡ مِنۡهُ شَيۡـٔٗاۚ فَإِن كَانَ ٱلَّذِي عَلَيۡهِ ٱلۡحَقُّ سَفِيهًا أَوۡ ضَعِيفًا أَوۡ لَا يَسۡتَطِيعُ أَن يُمِلَّ هُوَ فَلۡيُمۡلِلۡ وَلِيُّهُۥ بِٱلۡعَدۡلِۚ وَٱسۡتَشۡهِدُواْ شَهِيدَيۡنِ مِن رِّجَالِكُمۡۖ فَإِن لَّمۡ يَكُونَا رَجُلَيۡنِ فَرَجُلٞ وَٱمۡرَأَتَانِ مِمَّن تَرۡضَوۡنَ مِنَ ٱلشُّهَدَآءِ أَن تَضِلَّ إِحۡدَىٰهُمَا فَتُذَكِّرَ إِحۡدَىٰهُمَا ٱلۡأُخۡرَىٰۚ وَلَا يَأۡبَ ٱلشُّهَدَآءُ إِذَا مَا دُعُواْۚ وَلَا تَسۡـَٔمُوٓاْ أَن تَكۡتُبُوهُ صَغِيرًا أَوۡ كَبِيرًا إِلَىٰٓ أَجَلِهِۦۚ ذَٰلِكُمۡ أَقۡسَطُ عِندَ ٱللَّهِ وَأَقۡوَمُ لِلشَّهَٰدَةِ وَأَدۡنَىٰٓ أَلَّا تَرۡتَابُوٓاْ إِلَّآ أَن تَكُونَ تِجَٰرَةً حَاضِرَةٗ تُدِيرُونَهَا بَيۡنَكُمۡ فَلَيۡسَ عَلَيۡكُمۡ جُنَاحٌ أَلَّا تَكۡتُبُوهَاۗ وَأَشۡهِدُوٓاْ إِذَا تَبَايَعۡتُمۡۚ وَلَا يُضَآرَّ كَاتِبٞ وَلَا شَهِيدٞۚ وَإِن تَفۡعَلُواْ فَإِنَّهُۥ فُسُوقُۢ بِكُمۡۗ وَٱتَّقُواْ ٱللَّهَۖ وَيُعَلِّمُكُمُ ٱللَّهُۗ وَٱللَّهُ بِكُلِّ شَيۡءٍ عَلِيمٞ

It is in Surah 2 and is ayah number 282

The ayah has 128 words.

### The most common word

#### in the arabic

In [27]:
from collections import Counter

# Execute the query to get all Arabic words in the en_rwwad1 table
cur.execute("SELECT text FROM en_rwwad")

# Fetch all the rows as a list of tuples
rows = cur.fetchall()

# Flatten the list of tuples into a single list of words
words = [word for row in rows for word in row[0].split()]

# Count the frequency of each word and get the most common word
most_common_word = Counter(words).most_common(1)[0]

# Print the most common word and its frequency
print("The most common word in the text column is '{}', with a frequency of {}".format(most_common_word[0], most_common_word[1]))

The most common word in the text column is 'فِي', with a frequency of 1098

#### in the en_translate

In [28]:
from collections import Counter

# Execute the query to get all Arabic words in the en_rwwad2 table
cur.execute("SELECT en_translate FROM en_rwwad2")

# Fetch all the rows as a list of tuples
rows = cur.fetchall()

# Flatten the list of tuples into a single list of words
words = [word for row in rows for word in row[0].split()]

# Count the frequency of each word and get the most common word
most_common_word = Counter(words).most_common(1)[0]

# Print the most common word and its frequency
print("The most common word in the text column is '{}', with a frequency of {}".format(most_common_word[0], most_common_word[1]))

The most common word in the text column is 'the', with a frequency of 32550

### The most frequently mentioned text

#### in en_translate

In [29]:
# Execute the query
cur.execute("SELECT en_translate, COUNT(*) as count FROM en_rwwad2 GROUP BY en_translate ORDER BY count DESC LIMIT 1")

# Fetch the result
result = cur.fetchone()

# Print the result
print("The most frequently mentioned text in en_translate is:", result[0], "with", result[1], "occurrences.")

The most frequently mentioned text in en_translate is: Then which of the favors of your Lord will you [men and jinn] deny? with 155 occurrences.

#### in arabic

In [30]:
# Execute the query
cur.execute("SELECT text, COUNT(*) as count FROM en_rwwad GROUP BY text ORDER BY count DESC LIMIT 1")

# Fetch the result
result = cur.fetchone()

# Print the result
print("The most frequently mentioned text in arabic is:", result[0], "with", result[1], "occurrences.")

The most frequently mentioned text in arabic is: فَبِأَيِّ ءَالَآءِ رَبِّكُمَا تُكَذِّبَانِ with 31 occurrences.

### Surah with more than 200 ayah

In [31]:
# Execute the query
cur.execute("""SELECT en_rwwad1.surah_id, en_rwwad1.arabic as Surah_arabic, COUNT(*) AS ayah_count
               FROM en_rwwad1
               JOIN en_rwwad ON en_rwwad1.surah_id = en_rwwad.surah_id
               GROUP BY en_rwwad1.surah_id
               HAVING COUNT(*) > 200
               ORDER BY COUNT(*) DESC
            """)

# Fetch the results
rows = cur.fetchall()

# Create a DataFrame from the results
df = pd.DataFrame(rows, columns=['surah_id', 'Surah_arabic', 'ayah_count'])

# Print the DataFrame
df

   surah_id  Surah_arabic  ayah_count
0         2   سورة البقرة         286
1        26  سورة الشعراء         227
2         7  سورة الأعراف         206

### Surah that have ٱلۡحَمۡدُ لِلَّهِ

In [32]:
# Load the Quran dataset
quran_df = pd.read_csv("C:/Users/Ikmee U-daidee/BigDataEng 22/Surah.csv")

# Initialize variables to keep track of the number of surahs and occurrences
num_surahs = 0
num_occurrences = 0

# Loop through each row in the dataset
for index, row in quran_df.iterrows():
    
    # Get the text of the ayah
    ayah_text = row['text']
    
    # Check if the ayah contains the phrase "ٱلۡحَمۡدُ لِلَّهِ"
    if "ٱلۡحَمۡدُ لِلَّهِ" in ayah_text:
        
        # Increment the number of surahs and occurrences
        num_surahs += 1
        num_occurrences += ayah_text.count("ٱلۡحَمۡدُ لِلَّهِ")
        
        # Print the surah number and ayah number
        print(f"Surah {row['surah']}, Ayah {row['ayah']}: {ayah_text}")

Surah 1, Ayah 2: ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ
Surah 6, Ayah 1: ٱلۡحَمۡدُ لِلَّهِ ٱلَّذِي خَلَقَ ٱلسَّمَٰوَٰتِ وَٱلۡأَرۡضَ وَجَعَلَ ٱلظُّلُمَٰتِ وَٱلنُّورَۖ ثُمَّ ٱلَّذِينَ كَفَرُواْ بِرَبِّهِمۡ يَعۡدِلُونَ
Surah 6, Ayah 45: فَقُطِعَ دَابِرُ ٱلۡقَوۡمِ ٱلَّذِينَ ظَلَمُواْۚ وَٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ
Surah 7, Ayah 43: وَنَزَعۡنَا مَا فِي صُدُورِهِم مِّنۡ غِلّٖ تَجۡرِي مِن تَحۡتِهِمُ ٱلۡأَنۡهَٰرُۖ وَقَالُواْ ٱلۡحَمۡدُ لِلَّهِ ٱلَّذِي هَدَىٰنَا لِهَٰذَا وَمَا كُنَّا لِنَهۡتَدِيَ لَوۡلَآ أَنۡ هَدَىٰنَا ٱللَّهُۖ لَقَدۡ جَآءَتۡ رُسُلُ رَبِّنَا بِٱلۡحَقِّۖ وَنُودُوٓاْ أَن تِلۡكُمُ ٱلۡجَنَّةُ أُورِثۡتُمُوهَا بِمَا كُنتُمۡ تَعۡمَلُونَ
Surah 10, Ayah 10: دَعۡوَىٰهُمۡ فِيهَا سُبۡحَٰنَكَ ٱللَّهُمَّ وَتَحِيَّتُهُمۡ فِيهَا سَلَٰمٞۚ وَءَاخِرُ دَعۡوَىٰهُمۡ أَنِ ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ
Surah 14, Ayah 39: ٱلۡحَمۡدُ لِلَّهِ ٱلَّذِي وَهَبَ لِي عَلَى ٱلۡكِبَرِ إِسۡمَٰعِيلَ وَإِسۡحَٰقَۚ إِنَّ رَبِّي لَسَمِيعُ ٱلدُّعَآءِ
Surah 16, Ayah 75: ۞ضَرَبَ ٱللَّهُ مَثَلًا عَبۡدٗا مَّمۡلُوكٗا لَّا يَقۡدِرُ عَلَىٰ شَيۡءٖ وَمَن رَّزَقۡنَٰهُ مِنَّا رِزۡقًا حَسَنٗا فَهُوَ يُنفِقُ مِنۡهُ سِرّٗا وَجَهۡرًاۖ هَلۡ يَسۡتَوُۥنَۚ ٱلۡحَمۡدُ لِلَّهِۚ بَلۡ أَكۡثَرُهُمۡ لَا يَعۡلَمُونَ
Surah 17, Ayah 111: وَقُلِ ٱلۡحَمۡدُ لِلَّهِ ٱلَّذِي لَمۡ يَتَّخِذۡ وَلَدٗا وَلَمۡ يَكُن لَّهُۥ شَرِيكٞ فِي ٱلۡمُلۡكِ وَلَمۡ يَكُن لَّهُۥ وَلِيّٞ مِّنَ ٱلذُّلِّۖ وَكَبِّرۡهُ تَكۡبِيرَۢا
Surah 18, Ayah 1: ٱلۡحَمۡدُ لِلَّهِ ٱلَّذِيٓ أَنزَلَ عَلَىٰ عَبۡدِهِ ٱلۡكِتَٰبَ وَلَمۡ يَجۡعَل لَّهُۥ عِوَجَاۜ
Surah 23, Ayah 28: فَإِذَا ٱسۡتَوَيۡتَ أَنتَ وَمَن مَّعَكَ عَلَى ٱلۡفُلۡكِ فَقُلِ ٱلۡحَمۡدُ لِلَّهِ ٱلَّذِي نَجَّىٰنَا مِنَ ٱلۡقَوۡمِ ٱلظَّـٰلِمِينَ
Surah 27, Ayah 15: وَلَقَدۡ ءَاتَيۡنَا دَاوُۥدَ وَسُلَيۡمَٰنَ عِلۡمٗاۖ وَقَالَا ٱلۡحَمۡدُ لِلَّهِ ٱلَّذِي فَضَّلَنَا عَلَىٰ كَثِيرٖ مِّنۡ عِبَادِهِ ٱلۡمُؤۡمِنِينَ
Surah 27, Ayah 59: قُلِ ٱلۡحَمۡدُ لِلَّهِ وَسَلَٰمٌ عَلَىٰ عِبَادِهِ ٱلَّذِينَ ٱصۡطَفَىٰٓۗ ءَآللَّهُ خَيۡرٌ أَمَّا يُشۡرِكُونَ
Surah 27, Ayah 93: وَقُلِ ٱلۡحَمۡدُ لِلَّهِ سَيُرِيكُمۡ ءَايَٰتِهِۦ فَتَعۡرِفُونَهَاۚ وَمَا رَبُّكَ بِغَٰفِلٍ عَمَّا تَعۡمَلُونَ
Surah 29, Ayah 63: وَلَئِن سَأَلۡتَهُم مَّن نَّزَّلَ مِنَ ٱلسَّمَآءِ مَآءٗ فَأَحۡيَا بِهِ ٱلۡأَرۡضَ مِنۢ بَعۡدِ مَوۡتِهَا لَيَقُولُنَّ ٱللَّهُۚ قُلِ ٱلۡحَمۡدُ لِلَّهِۚ بَلۡ أَكۡثَرُهُمۡ لَا يَعۡقِلُونَ
Surah 31, Ayah 25: وَلَئِن سَأَلۡتَهُم مَّنۡ خَلَقَ ٱلسَّمَٰوَٰتِ وَٱلۡأَرۡضَ لَيَقُولُنَّ ٱللَّهُۚ قُلِ ٱلۡحَمۡدُ لِلَّهِۚ بَلۡ أَكۡثَرُهُمۡ لَا يَعۡلَمُونَ
Surah 34, Ayah 1: ٱلۡحَمۡدُ لِلَّهِ ٱلَّذِي لَهُۥ مَا فِي ٱلسَّمَٰوَٰتِ وَمَا فِي ٱلۡأَرۡضِ وَلَهُ ٱلۡحَمۡدُ فِي ٱلۡأٓخِرَةِۚ وَهُوَ ٱلۡحَكِيمُ ٱلۡخَبِيرُ
Surah 35, Ayah 1: ٱلۡحَمۡدُ لِلَّهِ فَاطِرِ ٱلسَّمَٰوَٰتِ وَٱلۡأَرۡضِ جَاعِلِ ٱلۡمَلَـٰٓئِكَةِ رُسُلًا أُوْلِيٓ أَجۡنِحَةٖ مَّثۡنَىٰ وَثُلَٰثَ وَرُبَٰعَۚ يَزِيدُ فِي ٱلۡخَلۡقِ مَا يَشَآءُۚ إِنَّ ٱللَّهَ عَلَىٰ كُلِّ شَيۡءٖ قَدِيرٞ
Surah 35, Ayah 34: وَقَالُواْ ٱلۡحَمۡدُ لِلَّهِ ٱلَّذِيٓ أَذۡهَبَ عَنَّا ٱلۡحَزَنَۖ إِنَّ رَبَّنَا لَغَفُورٞ شَكُورٌ
Surah 37, Ayah 182: وَٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ
Surah 39, Ayah 29: ضَرَبَ ٱللَّهُ مَثَلٗا رَّجُلٗا فِيهِ شُرَكَآءُ مُتَشَٰكِسُونَ وَرَجُلٗا سَلَمٗا لِّرَجُلٍ هَلۡ يَسۡتَوِيَانِ مَثَلًاۚ ٱلۡحَمۡدُ لِلَّهِۚ بَلۡ أَكۡثَرُهُمۡ لَا يَعۡلَمُونَ
Surah 39, Ayah 74: وَقَالُواْ ٱلۡحَمۡدُ لِلَّهِ ٱلَّذِي صَدَقَنَا وَعۡدَهُۥ وَأَوۡرَثَنَا ٱلۡأَرۡضَ نَتَبَوَّأُ مِنَ ٱلۡجَنَّةِ حَيۡثُ نَشَآءُۖ فَنِعۡمَ أَجۡرُ ٱلۡعَٰمِلِينَ
Surah 39, Ayah 75: وَتَرَى ٱلۡمَلَـٰٓئِكَةَ حَآفِّينَ مِنۡ حَوۡلِ ٱلۡعَرۡشِ يُسَبِّحُونَ بِحَمۡدِ رَبِّهِمۡۚ وَقُضِيَ بَيۡنَهُم بِٱلۡحَقِّۚ وَقِيلَ ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ
Surah 40, Ayah 65: هُوَ ٱلۡحَيُّ لَآ إِلَٰهَ إِلَّا هُوَ فَٱدۡعُوهُ مُخۡلِصِينَ لَهُ ٱلدِّينَۗ ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ

In [33]:
try: 
    conn.close()
except psycopg2.Error as e:
    print(e)