In [2]:
import psycopg2
import pandas as pd

In [ ]:
conn = psycopg2.connect("host=127.0.0.1 dbname=AlQuran user=postgres password=2619 port=5432")

In [ ]:
cur = conn.cursor()

In [ ]:
conn.set_session(autocommit=True)

In [4]:

  
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=AlQuran user=postgres password=2619 port=5432")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

conn.set_session(autocommit=True)

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS quran_surah1 (surah int, arabic varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
data = pd.read_csv(r'C:\Users\sulai\Desktop\Quran\quran_csv\quran_surah.csv')
df = pd.DataFrame(data)
try:
    for row in df.itertuples():
        cur.execute("INSERT INTO quran_surah1 (surah, arabic) \
                    VALUES (%s,%s)", \
                    (row.surah, row.latin))
except psycopg2.Error as e:
        print("Error: Inserting Rows")
        print (e)

In [5]:
try: 
    cur.execute("SELECT * FROM quran_surah1 LIMIT 10;")
    col_names = [desc[0] for desc in cur.description]
    print(col_names)
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

rows = cur.fetchall()

# convert list of tuples to pandas dataframe
df = pd.DataFrame(rows, columns=col_names)
df

['surah', 'arabic']

   surah       arabic
0      1    Al-Fatiha
1      2    Al-Baqara
2      3  Aal-e-Imran
3      4      An-Nisa
4      5     Al-Maeda
5      6     Al-Anaam
6      7      Al-Araf
7      8     Al-Anfal
8      9    At-Taubah
9     10        Yunus

In [ ]:
try: 
    conn.close()
except psycopg2.Error as e:
    print(e)